a {
	font-family: 'Raleway', sans-serif;
}
a:hover {
	text-decoration: none;
}
hr{
	border-top: 1px solid black;
}
img{
	max-width: 100%;
}
.img-responsive{
	min-width: 100%;
}
.konten{
	max-width: 100%;
	padding: 5px;
}
.isi{
	background-color: aqua;
	border-radius: 8px;
	/*border: 1px solid rgba(10,10,10,0.8;)
	opacity: 0.2*/
	color: black;
	min-height: 450px;
}
.spoiler{
	padding: 5px;
	line-height: 1.5rem;
}
.isi img{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.hak-cipta{
	background-color: black;
	color: white;
}
.thumbnail {
	padding: 20px;
	margin: 15px;
}
.thumbnail:hover {
	background: rgba(0,0,0,0.5);
	color: white;
}
.thumbnail:hover + .detail-donasi,
.detail-donasi:hover {
	display: block;
	z-index: 99;
}
.detail-donasi {
	position: absolute;
	bottom: 150px;
	left: 50px;
	float: left;
	max-width: 100%;
	display: none;
}
.navbar>.container .navbar-brand {
	font-size: 30px;
	color: white;
	transition: 0.5s all;
}
.navbar>.container .navbar-brand:hover {
	color: #555;
}
.navbar-nav>li a {
	height: 100%;
	width: 90px;
	padding-top: 50px;
	text-align: center;
	transition: 0.5s all;
}
.navbar-inverse .navbar-nav>li>a {
	color: #E4F1FE;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #22313F;
}
.navbar-nav>li:hover{
	background: white;
	transition: 0.5s all;
}
.navbar-nav>li:hover>a {
	padding-top: 25px;
}
.navbar-nav.navbar-right:last-child {
	height: 100px;
}
.navbar-header {
	padding-top: 25px;
}
.navbar-inverse {
	border-color: transparent;
	background-color: rgba(65, 131, 215,0.8);
}