a, strong, label, h1, p {
	color: #333;
	font-family: 'Raleway', sans-serif;
}
.form-control {
	height: 50px;
}
a:hover {
	text-decoration: none;
}
.hr-putih {
	border-top: 3px solid white;
	width: 150px;
	margin: 0 auto 20px;
}
.hr-biru {
	border-top: 3px solid #446CB3;
	width: 150px;
	margin: 0 auto 20px;
	padding-bottom: 50px;
}


img {
	max-width: 100%;
}
.img-responsive {
	min-width: 100%;
}
.konten {
	max-width: 100%;
	padding: 5px;
}
.isi {
	background-color: aqua;
	border-radius: 8px;
	/*border: 1px solid rgba(10,10,10,0.8;)
	opacity: 0.2*/
	color: black;
	min-height: 450px;
}
.spoiler {
	padding: 5px;
	line-height: 1.5rem;
}
.isi img {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.hak-cipta{
	background-color: #E4F1FE;
	color: #333;
	padding: 25px;
	font-weight: bold;
}

.gallery img{
	width: 100%;
}
.team{
	padding: 0 150px;
}
.team img{
	width: 50px;
	height: 50%;
}
/* MENU BAR */
.navbar {
	border: none;
}
.navbar>.container .navbar-brand {
    height: 50px;
	padding: 10px;
	transition: 0.5s ease-out;
}
.navbar>.container .navbar-brand:hover {
	color: #555;
}
.navbar-nav>li a {
	height: 100%;
	width: 90px;
	text-align: center;
	transition: 0.5s ease-out;
}
.navbar-inverse .navbar-nav>li>a {
	color: #E4F1FE;
    text-transform: capitalize;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #22313F;
}
.navbar-nav>li:hover{
	background: white;
	transition: 0.5s all;
	height: 100%;
}
.navbar-inverse {
	border-color: transparent;
	background-color: rgb(65, 131, 215);
}
.tombol-keluar {
	background: #C75050;
	color: white;
}

.credit {
	color: white;	
  	padding-bottom: 50px;
  	padding-top: 50px;
}
.credit img {
	height: 150px;
	width: 250px;
}
.credit .kontak {
	height: 100px;
}
.kata-kedua {
	color: #6BB9F0;
}
.title {
	font-size: 20px;
}
.partner img {
	height: 100px;
}
.footer-bawah {
	background: #446CB3;
}
.login-form {
	margin-top: 180px;
	margin-bottom: 20px;
}
.buttoninput img {
	border-radius: 50%;
	border: 3px solid black;
}

.social-media a {
	font-size: 72px;
	color: white;
	transition: 0.5s all;
}
.social-media a:hover {
	color: #22313F;
	margin-right: 20px;
	margin-left: 20px;
}

.judul-utama .judul-utama-kata {
	margin-top: 25vh;
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 0;
}
.judul-utama {
	background: url('../../img/ppt/DSC_0123.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	height: 100vh;
	padding: 30px 0 30px 0;
}
.img-circle {
    margin: 15px;
}
.progress {
	height: 30px;
	background: rgba(86, 98, 249, 0.1);
}

/* thumbnail halaman utama*/
.thumb .thumbnail{
	height: 450px;
}
.thumb img{
	height: 180px;
}
.thumb strong.title{
	background-color: red;
	height: 40px;
}
.thumb p{
	height: 80px;
	margin-bottom: 20px;
}
.thumb .progress{
	height: 8px;
}
.thumb .bawah-progress{
	margin-top: -10px;
	font-size: 1.2rem;
}
.bawah-progress{
	text-align: center;
}
.bawah-progress h6{
	margin-bottom: 2px;
}
.thumb button{
	height: 36px;
	margin-left: 10px;
	margin-top: -53px;
}
.thumbnail {
	padding: 20px;
	margin: 15px;
	background: #ECECEC;
	border: none;
}
.thumbnail:hover {
	background: #333;
	color: white;
}
.thumbnail:hover p, .thumbnail:hover strong,.thumbnail:hover label{
	color: white;
}.thumbnail:hover img {
	filter: sepia(70%);
}
.detail-donasi {
	width: 100%;
	position: inherit;
	transition: 1s linear;
    margin: 0 110px;
}
.detail-donasi button {
	width: 150px;
	border-radius: 0;
	color: white;
	font-weight: bold;
	background: #428BCA;
	border: 2px solid white;
	transition: 0.5s all;
}
.thumb a:hover + .detail-donasi button {
	background: white;
	color: #428BCA;
	border: 2px solid #428BCA;
}
#data-rumah{
	margin-top: 100px;
	margin-bottom: 100px;
}
.selengkapnya {
	float: right;
	padding: 10px;
}

/*Halama Donasi*/
.proses-donasi{
	margin: 50px auto;
}
.proses-donasi .ka{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.proses-donasi .ki{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.proses-donasi .text-center{
	background-color:  rgb(65, 131, 215);
	padding-top: 15px;
	height: 50px;
	border: 1px solid white;
}

/*profil user*/
.edit-profile{
	background-color: white;
	border-radius: 10px;
	padding-top: 25px;
	margin-bottom: 50px;
}
.profile img {
	padding: 15px;
	background: white;
	border-radius: 0px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}
.profile .nav {
	background: white;
	margin-top: 20px;
	padding-bottom: 20px;
}
.profile a {
	color: #333;
	font-weight: bold;
}
.profile .active {
	background: #878AC6;
}
ul.profile{
	padding: 14px;
	list-style: none;
	background-color: aqua;
}
.profile li{
	height: 50px;
	margin: 0 -14px;
	padding-top: 15px;
	background-color: #3C7324;
	padding-left: 25px;
	transition:padding 0.3s;
}
.profile li:hover{
	background-color: #5E7FA5;
	padding-left: 40px;
	transition:padding 0.3s;
}

/*detail*/
#data-rumah{
	margin-bottom: 100px;
	margin-top: 50px;
}
.detail {
	text-align: justify;
}
.sidebar-detail {
	background:#F2F3F4;
	max-height: 100%;
	padding-bottom: 50px;
	padding-top: 30px;
}
.detail p {
	margin-top: 50px;	
	font-size: 1.2em;
	line-height: 1.5em;
    text-indent: 50px;
}
.progress-bar{
	padding-top: 6px;
}
.tab-detail{
	margin: 25px auto;
}
.tab-content, .gallery ul{
	padding-left: 50px;
}
.tab-content p{
	text-indent: 35px;
}
.tab-content .keperluan{
	border: 1px solid black;
	border-bottom: none;
	border-right: none;
	text-align: center;
}
.tab-content .judul{
	font-weight: 700;
}
.tab-content .keperluan div{	
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.rumah{
	padding-left: 20%;
	float: left;
}
.rumah a{
	margin: 0 5px;
}
.orang{
	height:80px;
}
.orang img{
	max-width: 100%;
	width: 60px;
	height: 60px;
	margin-top: 5px;
}
.orang img.bawahin{
	margin-top: 15px;
}
.orang h4,.orang h5{
	line-height: 14px;
}
.rounded-image {
	border-radius: 50%;
	border: 2px solid rgba(10,10,10,0.8);
}
.icon p {
	font-size: 20px;
	text-align: center;
}
#perkembangan .asdf{
	width: 45%;
}
#perkembangan .kiri .asdf{
	margin-left: -50px;
	margin-right: -65px;
}
#perkembangan .kanan .asdf{
	margin-right: -50px;
	margin-left: -65px;
}
#perkembangan small{
	position: relative;
	top: 8px;
	background-color: #A3F18B;
	padding: 5px;
	border-radius: 5px;
}

/*About*/
.about{
	padding-top:10px;
	background: url(../../img/hancur.jpg) center 100% fixed no-repeat;
}
.about h1, .about h2, .about p{
	color: ;
}
.tentang{
	background-color: rgba(250,250,250,0.5);
	margin: 80px auto;
	padding: 10px;
	border-radius: 10px;
}
.tentang-tim{
	background-color: rgba(250,250,250,0.5);
	padding: 10px;
	border-radius: 10px;
}
.lebih{
	background-color:  #E4F1FE;
	padding-top: 25px;
	padding-bottom: 50px;
	margin: 0;
}
.kanan{
	text-align: left;
	float: right;
	padding-left: 10%;
	border-left: 1px solid #333;
	margin-right: 1px;
}
.kiri{
	text-align: right;
	float: left;
	padding-right: 10%;
	border-right: 1px solid #333;
}
.asdf{
	width: 35%;
	height: 10px;
	border-top: 1px solid #333;
}
.kanan .asdf{
	float: left;
	margin-left: -26%;
	border-right: 1px solid #333;
}
.kiri .asdf{
	float: right;
	margin-right: -26%;
	border-left: 1px solid #333;
}

/* daftar-login */
.daftar-login {
	background: rgba(49, 112, 143, 0.32);
	padding: 25px 100px 25px 100px;
}
.daftar-login-background {
	background: url('../../img/hancur.jpg') no-repeat;
	padding: 100px 0 100px;
}
.garis-header {
    border-top: 1px solid #DDDDDD;
    margin: 20px 0;
    position: relative;
}
.kata-header {
	margin-top: 10px;
	padding: 0px;
}
.kata-header p {
	text-align: center;
	width: 100%;
	font-size: 18px;
}


/* SOCIAL LOGIN */
.btn-facebook, .btn-google {
	height:50px; 
	padding:15px;
	color: white;
	margin-bottom: 10px;
	transition: 0.5s all;
}
.btn-facebook {
	background: #3b5998;
}
.btn-google {
	background: #cd201f;
}
.btn-facebook:hover, .btn-google:hover {
	color: white;
}
.btn-facebook:hover {
	background: #263961;
}
.btn-google:hover {
	background: #741212;
}

/* BANNER BERANDA */
.banner {
	background: url(../../img/breeze.png) fixed;
	height: 80vh;
}
.banner .judul-utama-kata {
	background: transparent;
	padding-top: 15vh;
}
.banner .judul-utama-kata h1 {
	color: white;
}
.banner .judul-utama-kata a {
	padding: 25px;
	font-size: 25px;
	transition: 0.5s all;
}

/* LAPOR */
#judul {
	font-size: 18px;
	text-transform: capitalize;
}

/* LAPOR - ESTIMASI */
.estimasi h1 {
	float: right;
}
.estimasi p {
	float: left;
}

@media (max-width: 1200px){
	.kiri .asdf{
		float: right;
		margin-right: -26.5%;
	}
	.rumah{
		padding-left: 39%;
	}
}

@media (max-width: 800px){
	.tentang{
		width: 90%;
	}
	.asdf{
		display: none;
	}
	.lebih *{
		margin: 0 auto;
		width: 95%;
	}
	.tentang-tim{
		display: none;
	}
	.rumah{
		padding-left: 35%;
	}
}

@media (max-width: 768px) {
	.kanan, .kiri, .asdf{
		text-align: center;
		border: none;
		padding: 0px;
	}
	.col-sm-6{
		width: 100%;
	}

	.navbar-header {
		padding-bottom: 15px;
	}
	.daftar-login {
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
}
@media (max-width: 500px){
	.col-xs-6{
		width: 100%;
	}
	.judul-utama {
		height: 50vh;
	}
	.rumah{
		padding-left: 0;
	}
}

/* DONASI */
.detail-donasi {
	width: 100%;
	position: inherit;
	transition: 1s linear;
    margin: 0 110px;
}
.detail-donasi button {
	width: 150px;
	border-radius: 0;
	color: white;
	font-weight: bold;
	background: #428BCA;
	border: 2px solid white;
	transition: 0.5s all;
}
.thumb a:hover + .detail-donasi button {
	background: white;
	color: #428BCA;
	border: 2px solid #428BCA;
}
