<ion-view view-title="DoYok">
  <ion-content>
    <div class="list">
	  	<a class="item item-body" ng-repeat="dat in playlists | limitTo: 3" href="#/app/rumah/{{dat.id_kms}}">
	      <img class="full-image" src="img/{{dat.foto}}">
	      <h2 class="judul">Keluarga {{dat.nama}}</h2>
	      <div class="ket">{{dat.alamat}}</div>
	      <div class="tombol">
        	<span>Rp. {{dat.dana}}</span>
        	<button class="button button-small button-calm">Donasi</button>
          </div>
	    </a>
	</div>

</ion-view>
