<ion-view view-title="DoYok">
  <ion-content>
    <span> {{statusnya}} </span>

    <h2 class="kategori">Prihatin</h2>
    <div class="list">
	  	<a class="item item-thumbnail-left" href="#" ng-repeat="playlist in playlists | limitTo: 3">
	      <img src="img/thumb.jpg">
	      <h2 class="judul">{{playlist['Nama Sekolah']}} {{playlist.Wilayah}}</h2>
	      <div class="ket">{{playlist.Alamat}} {{playlist.Alamat}}</div>
	      <div class="tombol">
        	<span>Telp. {{playlist.Telepon}}</span>
        	<button class="button button-small button-calm">Donasi</button>
          </div>
	    </a>
	</div>

    <h2 class="kategori">Sekolah</h2>
    <div class="list">
	  	<a class="item item-thumbnail-left" href="#" ng-repeat="playlist in playlists | limitTo: 3">
	      <img src="img/thumb.jpg">
	      <h2 class="judul">{{playlist['Nama Sekolah']}} {{playlist.Wilayah}}</h2>
	      <div class="ket">{{playlist.Alamat}} {{playlist.Alamat}}</div>
	      <div class="tombol">
        	<span>Telp. {{playlist.Telepon}}</span>
        	<button class="button button-small button-calm">Donasi</button>
          </div>
	    </a>
	</div>

	<h2 class="kategori">Anak Putus Sekolah</h2>
    <div class="list">
	  	<a class="item item-thumbnail-left" href="#" ng-repeat="playlist in playlists | limitTo: 3">
	      <img src="img/thumb.jpg">
	      <h2 class="judul">{{playlist['Nama Sekolah']}} {{playlist.Wilayah}}</h2>
	      <div class="ket">{{playlist.Alamat}} {{playlist.Alamat}}</div>
	      <div class="tombol">
        	<span>Telp. {{playlist.Telepon}}</span>
        	<button class="button button-small button-calm">Donasi</button>
          </div>
	    </a>
	</div>

    <h2 class="kategori">Keluarga Miskin</h2>
    <div class="list">
	  	<a class="item item-thumbnail-left" href="#" ng-repeat="playlist in playlists | limitTo: 3">
	      <img src="img/thumb.jpg">
	      <h2 class="judul">{{playlist['Nama Sekolah']}} {{playlist.Wilayah}}</h2>
	      <div class="ket">{{playlist.Alamat}} {{playlist.Alamat}}</div>
	      <div class="tombol">
        	<span>Telp. {{playlist.Telepon}}</span>
        	<button class="button button-small button-calm">Donasi</button>
          </div>
	    </a>
	</div>
</ion-view>
