<ion-view view-title="Sekolah">
  <ion-content>
    <span> {{statusnya}} </span>
    <div class="list">
	  	<a class="item item-thumbnail-left" href="#" ng-repeat="as in sekolah | limitTo: 10">
	      <img src="img/thumb.jpg">
	      <h2 class="judul">{{as.nis}} {{as.nama}}</h2>
	      <div class="ket">{{as.kd_jurusan}} {{as.kd_jurusan}}</div>
	      <div class="tombol">
        	<span>Telp. {{as.kd_jurusan}}</span>
        	<button class="button button-small button-calm">Donasi</button>
          </div>
	    </a>
	</div>
  </ion-content>
</ion-view>
